<%- include('../partials/head') %>

    <div class="linear-gradient-background">
        <div class="dash">
            <div class="dash__container">
                <div class="dash__nine">
                    <p class="nine">09</p>
                </div>
                <div class="dash__nav-container">
                    <h2 class="dash__nav-title">NimbusDashboard</h2>
                    <nav class="dash__nav">
                        <a href="#" class="dash__nav-link">Shared files</a>
                        <a href="#" class="dash__nav-link">My files</a>
                    </nav>
                </div>
                <div class="dash__directory">
                    <div class="dash__directory-top">
                        <h1 class="dash__directory-title">My files</h1>
                        <form action="#" class="search">
                            <input class="search__input" type="text" placeholder="Search">
                            <button class="search__btn"><i class="fas fa-search"></i></button>
                        </form>
                        <div class="drop-down-container">
                            <button class="drop-down-btn drop-down-btn--user">
                                <div class="user-icon">
                                </div>
                            </button>
                            <div class="drop-down drop-down-user">
                                <a class="drop-down-item" href="#">Profile</a>
                                <a class="drop-down-item" href="/users/logout">Log out</a>
                            </div>
                        </div>
                    </div>
                    <div class="dash__directory-labels">
                        <div class="drop-down-container">
                            <button class="btn btn--white btn--small drop-down-btn drop-down-btn--new">New
                                &#43;</button>
                            <div class="drop-down drop-down-new">
                                <a class="drop-down-item" href="#">New file</a>
                                <a class="drop-down-item" href="#">New folder</a>
                            </div>
                        </div>
                        <div class="dash__directory-list-item dash__directory-list-item--title">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <p class="dash__directory-list-label">Name</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">Size</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">Date added</p>
                            </div>
                        </div>
                    </div>
                    <div class="dash__directory-list">
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to life</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>
                        <div class="dash__directory-list-item">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <img class="dash__directory-folder-icon" src="../images/folder.png" alt="folder icon">
                                <p class="dash__directory-list-label">Secrets to what</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">5 tb</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">2/14/2021 12:38 pm</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('../partials/footer') %>