<%- include('../partials/head') %>

    <div class="linear-gradient-background">
        <div class="dash">
            <div class="dash__container">
                <div class="dash__left">
                    <nav class="dash__nav">
                        <h2 class="dash__nav-title">NimbusDashboard</h1>
                    </nav>
                </div>
                <div class="dash__right">
                    <h2 class="dash__directory-title">My files</h2>
                </div>
            </div>
        </div>
    </div>

<%- include('../partials/footer') %>