<%- include('partials/head') -%>

    <div class="home">
        <div class="row">
            <div class="home__nav">
                <div class="home__logo-box">
                    <h1 class="home__logo">NimbusNine</1>
                </div>
                <div class="home__nav-container">
                    <a href="#" class="home__link">Sign In</a>
                    <a href="#" class="btn btn--transparent btn--big">Log In</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="home__jumbotron">
                <div class="home__title-box">
                    <div class="home__nine">
                        <div class="nine">09</div>
                    </div>
                    <h2 class="home__title">Cloud Storage</h2>
                    <p class="home__desc">The cloud product people love. Safe and secure, NimbusNine is easy to use.
                        Upload, share, & collaborate. </p>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/foot') -%>