<%- include('partials/head') -%>

    <div class="linear-gradient-background">
        <div class="home">
            <div class="row">
                <div class="home__nav-container">
                    <div class="home__logo-box">
                        <h1 class="logo">NimbusNine</h1>
                    </div>
                    <nav class="home__nav">
                        <% if(currentUser) { %>
                            <p>Logged in as <%= currentUser.userName %>
                            </p>
                            <div class="drop-down-container"><a href="/users/logout" class="home__link">
                                    <div class="user-icon">
                                    </div>
                                </a></div>
                            <% } else { %>
                                <a href="/users/login" class="home__link">Login</a>
                                <a href="/users/signup" class="btn btn--transparent btn--big">Sign Up</a>
                                <% } %>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="home__jumbotron">
                    <div class="home__title-box">
                        <div class="home__nine">
                            <p class="nine">09</p>
                        </div>
                        <h2 class="home__title">Cloud Storage</h2>
                        <p class="home__desc">The cloud product people love. Safe and secure, NimbusNine is easy to use.
                            Upload, share, & collaborate. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') -%>