<%- include('partials/head') -%>

    <div class="linear-gradient-background">
        <div class="dash">
            <div class="dash__container">
                <div class="dash__nine">
                    <p> class="nine">09</p>
            
                </div>
                
                <div class="dash__left">
                    <div class="dash__nav-container>
                        <h2 class="dash__nav-title">NimbusDashboard</h2>
                        <nav class="dash__nav">
                            <a class="dash__nav-link" href="#">Change Password</a>
                            <a class="dash__nav-link" href="/user/logout">Logout</a>
                            <a class="dash__nav-link" href="#">Delete Account</a>
                        </nav>
                    </div>
                </div>
                <div class="dash__right">
                    <div class="dash__profile">
                        <h1 class="dash__profile-title">My Profile</h1>
                        <div class="dash__profile-top-right">
                            <form class="search" action="#">
                                <input class="search__input" type="text" placeholder="Search">
                                <button class="search__btn">
                                    <i class="fas fa-search">
                                        ::before
                                    </i>
                                </button>
                                <a href="profile.ejs">
                                    <div class="user-icon">
                                    </div>
                                </a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    

 <%- include('partials/footer') -%>