@import url("https://use.typekit.net/hzp0fta.css");
*,
*:before,
*:after {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

body {
  height: 100%;
  width: 100%;
  position: relative; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background-color: rgba(64, 63, 63, 0.2);
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem; }

.logo {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem; }
  .logo-box {
    position: absolute;
    top: 40%;
    left: 45%; }

@keyframes spin {
  0% { }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }

.btn {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  color: #000;
  border: 2px solid #000;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 0.5rem 1rem;
  background-color: transparent; }
  .btn:link, .btn:visited {
    text-decoration: none; }
  .btn--big {
    font-size: 1.3rem;
    padding: 0.5rem 3.5rem !important; }
  .btn--medium {
    font-size: 1.3rem;
    padding: 0.25rem 2rem !important; }
  .btn--small {
    font-size: 1.1rem;
    padding: 0.25rem 2rem !important; }
  .btn--transparent {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s; }
    .btn--transparent:hover {
      background-color: #000;
      color: #fff;
      border: 2px solid #000; }

.form {
  min-height: 30rem;
  width: 22rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 2.5px 5px 7.5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .form:hover {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1); }
  .form__title {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: flex-end; }
  .form__group {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
    .form__group input {
      border: none;
      font-size: 1.1rem;
      padding: 0.5rem 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s; }
      .form__group input:focus, .form__group input:hover {
        outline: none;
        border-bottom: 2px solid #000; }
    .form__group button {
      align-self: flex-start; }
  .form__go-away:link, .form__go-away:visited {
    color: #64A2EB;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none; }
  .form__nine {
    position: absolute;
    top: 1.5rem;
    left: 90%; }
  .form__link:link, .form__link:visited {
    color: #000; }
  .form__nav {
    position: absolute;
    top: 5%;
    left: 48px;
    display: flex;
    align-items: center; }
  .form__nav-label {
    font-family: roboto;
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1rem; }
  .form__nav-arrow {
    height: 35px;
    width: 35px;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s; }
  .form__link:hover .form__nav-arrow {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px); }

.alert {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 2px; }
  .alert--success {
    background-color: rgba(46, 213, 115, 0.3); }
  .alert--warning {
    background-color: rgba(254, 202, 87, 0.3); }
  .alert--error {
    background-color: rgba(255, 71, 87, 0.3); }

.search {
  position: relative; }
  .search__input {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    color: #000;
    border: 2px solid #000;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-size: 1.1rem;
    padding: 0.25rem 2rem !important;
    width: 7rem;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s; }
    .search__input:focus {
      outline: none;
      width: 30rem; }
  .search__btn {
    position: absolute;
    z-index: 100;
    top: 0.7rem;
    left: 0.65rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.55); }
    .search__btn:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
    .search__btn:focus {
      outline: none; }

.row {
  max-width: 1400px;
  margin: 0 auto; }

.gradient-circle {
  content: "";
  display: table;
  height: 59rem;
  width: 59rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: absolute;
  z-index: 10;
  top: -30%;
  left: -20%;
  background-image: linear-gradient(to right bottom, #FA9D9D, #64A2EB);
  animation: spin 8s infinite linear;
  -webkit-animation: spin 8s infinite linear; }

.user-icon {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-left: 2.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: url("../images/lion.jpeg");
  background-position: center;
  background-size: cover; }

.home__nav-container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal; }

.home__nav {
  display: flex;
  align-items: center;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal; }

.home__link {
  font-size: 1.3rem;
  margin-right: 3rem;
  display: inline-block;
  padding: 0.5rem 0;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out; }
  .home__link:link, .home__link:visited {
    color: #000;
    text-decoration: none; }
  .home__link:hover {
    color: #fff; }

.home__jumbotron {
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #403F3F; }

.home__title-box {
  position: absolute;
  width: 530px;
  top: 25rem;
  left: 45%;
  padding: 1rem; }

.home__title {
  font-size: 3.75rem;
  text-align: center;
  margin-bottom: 1rem; }

.home__desc {
  font-size: 2rem; }

.home__nine {
  font-family: inherit;
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 2.5rem; }

.login {
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2; }
  .login__container {
    padding-top: 6rem; }

.signup {
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2; }
  .signup__container {
    padding-top: 6rem; }

.dash {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal; }
  .dash__container {
    width: 96%;
    background-color: #fff;
    height: 94%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    color: #000;
    overflow-y: hidden;
    position: relative; }
  .dash__nine {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem; }
  .dash__left {
    flex: 0 0 20rem;
    background-color: #FCF9F9;
    border-radius: 25px 0 0 25px;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    -ms-border-radius: 25px 0 0 25px;
    -o-border-radius: 25px 0 0 25px;
    border-right: 0.05rem solid rgba(149, 149, 149, 0.15);
    display: flex;
    justify-content: center; }
  .dash__nav-container {
    width: 95%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column; }
  .dash__nav {
    display: flex;
    flex-direction: column; }
    .dash__nav-title {
      font-size: 2.1rem;
      font-family: futura-pt, sans-serif;
      font-weight: 500;
      font-style: normal;
      padding-bottom: 1rem;
      border-bottom: 2px solid #403F3F;
      margin-bottom: 3rem; }
    .dash__nav-link {
      position: relative; }
      .dash__nav-link:link, .dash__nav-link:visited {
        color: #000;
        font-size: 1.3rem;
        font-weight: 400;
        text-decoration: none;
        padding: 0.3rem;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s; }
      .dash__nav-link:not(:last-child) {
        margin-bottom: 0.5rem; }
      .dash__nav-link:active, .dash__nav-link:hover {
        color: rgba(64, 63, 63, 0.8); }
  .dash__right {
    flex: 1;
    border-radius: 0 25px 25px 0;
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    -ms-border-radius: 0 25px 25px 0;
    -o-border-radius: 0 25px 25px 0; }
  .dash__directory {
    padding: 2.5em 6rem 0 3rem; }
    .dash__directory-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.08);
      margin-bottom: 1rem; }
    .dash__directory-title {
      font-size: 2.1rem;
      font-weight: 400; }
    .dash__directory-top-right {
      display: flex;
      align-items: center; }
    .dash__directory-bottom {
      width: 98%; }
    .dash__directory-list-container {
      height: 38rem;
      overflow-y: scroll;
      scroll-behavior: smooth; }
    .dash__directory-list {
      margin-top: 0.5rem; }
    .dash__directory-list-item {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 400;
      padding: 1rem 0;
      color: rgba(0, 0, 0, 0.8);
      border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
      .dash__directory-list-item--title {
        color: #000;
        border-bottom: 2px solid #000;
        font-size: 1.2rem;
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 400; }
    .dash__directory-select {
      margin-right: 1rem; }
    .dash__directory-list-label-container {
      display: flex;
      align-items: center;
      flex: 1; }
    .dash__directory-folder-icon {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem; }

.nine {
  font-family: Arial, Helvetica, sans-serif;
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-style: normal; }

.linear-gradient-background {
  background-image: linear-gradient(to right, #64A2EB, #FA9D9D);
  background-repeat: none;
  height: 100vh;
  width: 100%;
  position: absolute; }

.inline {
  display: inline; }

.hidden {
  visibility: hidden; }
