.home {
  &__nav {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  &__logo {
    font-size: 2.5rem;
  }

  &__nav-container {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  &__link {
    font-size: 1.5rem;
    margin-right: 3rem;
    display: inline-block;
    padding: 0.5rem 0;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    &:link,
    &:visited {
      color: $black;
      text-decoration: none;
    }

    &:hover {
      color: $white;
    }
  }

  &__jumbotron {
    font-family: roboto, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: $black-2;
  }

  &__title-box {
    position: absolute;
    width: 530px;
    top: 25rem;
    left: 45%;
    padding: 1rem;
  }

  &__title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__desc {
    font-size: 2.125rem;
  }

  &__nine {
    font-family: inherit;
    position: absolute;
    top: 0;
    left: 100%;
    font-size: 2.5rem;
  }
}
