.form {
  min-height: 30rem;
  width: 22rem;
  padding: 3rem;
  background-color: $white;
  @include borderRadius;
  @include boxShadowSm;
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

  &:hover {
    @include boxShadowLg;
  }

  &__title {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: flex-end;
    font-size: 1.8rem;
  }

  &__group {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 95%;
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;

    & input {
      border: none;
      font-size: 1.1rem;
      padding: 0.5rem 0;
      border-bottom: 1px solid rgba($black, 0.3);
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;

      &:focus,
      &:hover {
        outline: none;
        border-bottom: 1px solid $black;
      }
    }

    & button {
      align-self: flex-start;
    }
  }

  &__go-away {
    &:link,
    &:visited {
      color: $blue-primary;
      font-family: roboto, sans-serif;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
    }
  }

  &__nine {
    position: absolute;
    top: 1.5rem;
    left: 90%;
  }

  &__link {
    &:link,
    &:visited {
      color: $black;
    }
  }

  &__nav {
    position: absolute;
    top: 5%;
    left: 48px;
    display: flex;
    align-items: center;
  }

  &__nav-label {
    font-family: roboto;
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1rem;
  }

  &__nav-arrow {
    height: 35px;
    width: 35px;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
  }

  &__link:hover &__nav-arrow {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
  }
}
