$blue-primary: #64A2EB;
$red-primary: #FA9D9D;
$black: #000;
$black-2: #403F3F;
$white: #fff;
$grey: #FCF9F9;
$yellow: #FECA57;
$purple: #5352ED;
$green: #2ED573;
$red: #FF4757;
$orange: #FA983A;
$blue: #1B9CFC;